<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sossolution.serviceonway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- current location get -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE_" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <...................... .......sms...................> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.Home_service_details_Activity"
            android:parentActivityName=".Activity.MainActivity"
            >

        </activity>
        <activity
            android:name=".Activity.Service_not_avilable_Activity"
            android:parentActivityName=".Activity.Maker_Activity"
            android:theme="@style/MyAppCompatDialogTheme">

        </activity>
        <activity android:name=".Activity.Home_service_Activity" />
        <activity android:name=".Activity.Paymentgetway_Subscription_Activity" />
        <activity
            android:name=".Activity.MySubscriptionbook_Activity"
            android:parentActivityName=".Activity.Bike_subscription_Activity"
            android:theme="@style/MyAppCompatDialogTheme" />
        <activity
            android:name=".Activity.Listing_details_Activity"
            android:parentActivityName=".Activity.Vechicle_listing_Activity" />
        <activity
            android:name=".Activity.Vechicle_listing_Activity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.Bike_subscription_Activity"
            android:parentActivityName=".Activity.Maker_Activity" />
        <activity android:name=".Activity.Tezt_Activity" />
        <activity
            android:name=".Activity.FormFill_Activity2"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.Subscription_history_details_Activity"
            android:parentActivityName=".Activity.Subscription_history_Activity" />
        <activity android:name=".Activity.Subscription_history_Activity" />
        <activity android:name=".Activity.SubsCription_Activity" />
        <activity android:name=".Activity.Upload_Activity" />

       <!-- <service android:name=".Class.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>-->

        <activity android:name=".Activity.Paymentgetway_modewalletActivity" />
        <activity android:name=".Activity.Paymentgetway_walletActivity" />
        <activity android:name=".Activity.Paymentgetway_Activity" />
        <activity android:name=".Activity.Map2_Activity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Activity.Shop_Activity" />
        <activity
            android:name=".Activity.Refer_earn_Activity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.HistoryAllDetails_Activity"
            android:parentActivityName=".Activity.History_Activity" />
        <activity android:name=".Activity.Terms_Condition_Activity" />
        <activity
            android:name=".Activity.AboutUs_Activity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.ContectUs_Activity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.ShopDetails_Activity"
            android:configChanges="orientation"
            android:parentActivityName=".Activity.Map2_Activity" />
        <activity android:name=".Activity.Payment_Activity" />
        <activity
            android:name=".Activity.History_Activity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity
            android:name=".Activity.Vehicle_Activity"
            android:parentActivityName=".Activity.MainActivity" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name=".Activity.Model_Activity"
            android:parentActivityName=".Activity.Maker_Activity" />
        <activity
            android:name=".Activity.Fuel_Activity"
            android:parentActivityName=".Activity.Model_Activity" />
        <activity
            android:name=".Activity.Maker_Activity"
            android:parentActivityName=".Activity.Vehicle_Activity" />
        <activity
            android:name=".Activity.Service_Activity"
            android:parentActivityName=".Activity.Fuel_Activity" />
        <activity android:name=".Activity.Splesh_Activity">

            <!-- ..........using intent filter................... -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Profile_Activity" />
        <activity
            android:name=".Activity.Otp_Activity"
            android:parentActivityName=".Activity.Login_Activity" />
        <activity android:name=".Activity.Signup_Activity" />
        <activity android:name=".Activity.Login_Activity" />
        <activity android:name=".Activity.MainActivity">
            //add code</activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_gDIMwXgJLGPxwJ" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:name=".Class.Myservice"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        //add meta tag
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />



    </application>

</manifest>